

body {
  font-family: sans-serif;
  margin: 0;
  display: grid;
  font-size: 14px;
  background-color: #fcfdfd;
 
}

.footer {
  display: flex;
  flex-flow: row;
  padding: 30px 30px 20px 30px;
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  
}

.footer > * {
  flex:  1 100%;
}

.footer_addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer_logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer_addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav_title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: rgb(64, 121, 168);
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: rgb(231, 245, 239);
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1em;
}
